@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  /** primary **/
  --clr-primary-cyan: hsl(179, 62%, 43%);
  --clr-primary-bright-yellow: hsl(71, 73%, 54%);
  /** neutral **/
  --clr-neutral-light-gray: hsl(204, 43%, 93%);
  --clr-neutral-grayish-blue: hsl(218, 22%, 67%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  background-color: #e6eff6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 16px;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "a a"
    "b c";
  border-radius: 10px;
  overflow: hidden;
  max-width: 37rem;
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);
}

.btn {
  display: block;
  text-align: center;
  color: white;
  text-decoration: none;
  font-weight: 700;
  background-color: var(--clr-primary-bright-yellow);
  border-radius: 0.4rem;
  padding: 1rem 3rem;
  width: 100%;
  box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.1);
  white-space: nowrap;
  transition: transform 250ms ease, box-shadow 250ms ease;
}

.btn:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 5px 15px rgba($color: #000000, $alpha: 0.3);
}

.join {
  grid-area: a;
  background-color: white;
  padding: 2rem;
  .h1-title {
    color: var(--clr-primary-cyan);
    margin: 1rem 0;
    font-size: 1.7rem;
  }
  .h2-title {
    color: var(--clr-primary-bright-yellow);
    font-size: 1.2rem;
  }
  .join-p {
    color: var(--clr-neutral-grayish-blue);
    margin: 1rem 0 0.5rem 0;
    font-size: 0.99rem;
  }
}

.subcription {
  grid-area: b;
  background-color: #2bb3b1;
  padding: 2rem;
  color: white;
  .price {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
    .per-month {
      font-weight: 400;
      font-size: 1rem;
      margin-left: 1rem;
      color: var(--clr-neutral-light-gray);
    }
  }
  p {
    font-size: 0.95rem;
    color: var(--clr-neutral-light-gray);
    margin: 1rem 0;
  }
}

.h3-title {
  margin-bottom: 1rem;
}

.why-us {
  grid-area: c;
  color: white;
  background-color: #4abebd;
  padding: 2rem;
  .why-us__list {
    color: var(--clr-neutral-light-gray);
    list-style: none;
    line-height: 1.25;
  }
}

footer {
  margin-top: 2rem;
  .attribution {
    color: var(--clr-neutral-grayish-blue);
    a {
      color: hsl(179, 58%, 39%);
      text-decoration: none;
    }
    a:hover {
      color: var(--clr-primary-cyan);
      text-decoration: underline;
    }
  }
}

@media (max-width: 420px) {
  body {
    padding: 3rem 2rem;
    position: relative;
  }

  main {
    grid-template-areas:
      "a"
      "b"
      "c";
    box-shadow: unset;
    overflow: auto;
    box-shadow: 1px 1px 20px 5px rgba($color: #000000, $alpha: 0.2);
    margin-bottom: 1rem;
  }

  .btn:active {
    transform: translateY(-0.2rem);
    box-shadow: 0 5px 15px rgba($color: #000000, $alpha: 0.3);
  }

  .join {
    padding-top: 1rem;
  }

  .join,
  .subcription,
  .why-us {
    grid-column: 1 / 3;
  }

  .why-us__list-item {
    margin-bottom: 0.2em;
  }

  .attribution {
    position: absolute;
    a:active {
      text-decoration: underline;
    }
  }

  footer {
    position: absolute;
    bottom: 20px;
    white-space: nowrap;
    left: 0;
    padding: 1rem;
  }
}
